body {
    font-family: sans-serif;
}

div.textarea {
    margin: 0 auto;
}

div.sqlarea {
    width: 99%;
    padding: 4px;
    font-family: monospace;
    background-color: #fefefe;
    border: 1px solid #2020f0;
}


pre {
    background-color: #f6f7f6;
    padding: 10px;
}

pre.error {
    border: 1px solid #a01050;
}

div.header {
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 1vh;
    text-align: right;
    width: 100%;
}

pre[data-language="sql"] {
    margin-top: 1px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    margin-top: 1px;
    margin-bottom: 2em;
}

th {
    background-color: #f6f7f6;
}

td,th {
    border: 1px solid;
}

th {
    padding: 2px;
}

td,pre {
    padding: 0px;
}

th[data-typesize="4"] {
    width: 70px;
}
